@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bgLight {
    @apply bg-[#dfe6e9] text-white;
  }
  .bgDark {
    @apply bg-[#202020] text-white;
  }
  .borderLight {
    @apply border-2 border-[#dfe6e9];
  }
  body {
    @apply bgLight font-SpaceMono scrollbar-thin scrollbar-thumb-black;
  }
  .box {
    @apply bgDark borderLight text-white;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0);
  }
  .box-sm {
    @apply bgDark borderLight;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0);
  }
  .customContainer {
    @apply w-full max-w-7xl mx-auto flex flex-col gap-6;
  }
  .mobile {
    aspect-ratio: 9 / 19;
  }
  .tab {
    aspect-ratio: 3 / 4;
  }
  .square {
    aspect-ratio: 3 / 4;
  }
  @screen md {
    .box {
      @apply bgDark borderLight;
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0);
    }
    .box-sm {
      @apply bgDark borderLight;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0);
    }
  }
}
